//variables

$white: #fff;
$gray-light: #cacaca;
$gray-light-darker: #ccc;
$gray-light-general: #eee;
$gray-font-color: #2a2a2a;
$gray-dark: #333;
$gray-dark-lighter: #666;
$bp-small: "(max-width: 600px)";
$bp-middle: "(max-width: 900px)";
$bp-large: "(max-width: 1600px)";